[Desktop Entry]
Encoding=UTF-8
Name=Repo Manager
Name[ca]=Repo Manager
Name[cs]=Repo Manager
Name[de]=Repo Manager
Name[el]=Repo Manager
Name[es]=Gestionar Repos
Name[fr]=Gestionnaire de dépôts
Name[hu]=Tárolókezelő
Name[it]=Repo Manager
Name[ja]=リボジトリマネージャー
Name[lt]=Saugyklų tvarkytuvė
Name[nl]=Pakketbronbeheer
Name[pt]=Gestor de Repositórios
Name[ru]=Менеджер репозиториев
Name[sk]=Repo Manager
Name[sv]=Repo Manager
Comment=Choose the default APT repo
Comment[ca]=Selecciona el dipòsit APT per omissió
Comment[cs]=Vyberte si z předvolených repozitářů APT
Comment[de]=Wählen Sie das Standard-Repository für APT
Comment[el]=Επιλέξτε την προεπιλεγμένη αποθήκη του APT
Comment[es]=Elija el repositorio APT predeterminado
Comment[fr]=Choissisez le dépôt APT par défaut
Comment[hu]=Az alapértelmezett APT tároló kiválasztása
Comment[it]=Scegli il repository di APT predefinito
Comment[ja]=デフォルト APT レポジトリを選択
Comment[lt]=Pasirinkti numatytąją APT saugyklą
Comment[nl]=Kies de standaard APT pakketbron
Comment[pt]=Para escolher o repositório APT pré-definido
Comment[ru]=Выбор репозитория по умолчанию
Comment[sk]=Vyberte si z predvolených APT repozitárov
Comment[sv]=Välj standard APT förråd
Exec=su-to-root -X -c repo-manager
Terminal=false
Type=Application
Icon=repo-manager
Categories=GNOME;GTK;System;
NoDisplay=False

